* {
   font-family: arial, sans-serif;
}

.global_margin {
    margin: 0% 25%;
}

.for_photo {
    text-align: center;
}

.my_photo {
    border: 1px solid;
}

h1 {
    text-align: center;
  }

h2 {
    margin: 3% 0px;
}

.telephone {
    color: #000;
    font-kerning: none;
    font-style: normal;
    font-weight: normal;
    text-decoration: none;
}

ul {
    margin-left: 5%;
}

a {
    font-style: italic; 
    font-weight: bold;
    margin-left: 5%; 
}

.fitbek {
    margin-left: 5%;
}
